@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  --color-bg: #ffffff;
  --color-footer: #1e1e1b;
  --color-primary: #1e1e1b;
}

@layer base {
  body {
    font-family: 'Inter', sans-serif;
    background: var(--color-bg);
    color: var(--color-primary);
    overflow-x: hidden;
  }

  .dark body {
    --color-primary: #f5f5f5;
    --color-bg: #1e1e1b;
    background: var(--color-bg);
  }
}